/* ---------------------------------------------------- */
/* ----- COMMON ----- */
/* ---------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

input,
textarea,
button {
    width: 100%;
    padding: .375rem;
}

label {
	display: block;
	padding-bottom: .5rem;
}

.main {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}

/* ---------------------------------------------------- */
/* ----- FORM ----- */
/* ---------------------------------------------------- */

.form__container {
	display: flex;
	justify-content: center;
	margin-top: 2.5rem;
}

.form {
	width: calc(100% - 20px);
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.form__content {
	background-color: #f8f9fa;
	border: 1px solid #e9ebec;
	padding: .9375rem;
}

.inputs__content {
	padding-bottom: 1rem;
}

.inputs__content:last-child {
	padding-bottom: 0;
}

.required__star::after {
	content: ' *';
	color: #e70943;
}

.form input[type=text],
.form input[type=email] {
    border: 1px solid #aaa;
    display: block;
    color: #666;
}

.button {
	width: 40%;
	background-color: #4680c9;
	color: #fff;
	border: 0;
	border-radius: 5px;
	padding: .5rem;
	margin-top: 1.25rem;
	align-self: center;
}

/* ---------------------------------------------------- */
/* ----- VALIDATION FORM ----- */
/* ---------------------------------------------------- */

.form input[type=text].error,
.form input[type=email].error {
    border-color:#E01546;
}

.field-error {
    color:#E01546;
    padding :0.5rem 0;
    font-size: 0.8rem;
}

.popup {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 20px;
  background: #aaa;
  white-space: pre;
  font-family: Consolas, sans-serif;
  font-size: 14px;
}

.popup-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border: 0;
  color: #fff;
  cursor: pointer;
}

.popup-close::before {
  content: '✖';
}

/* ---------------------------------------------------- */
/* ----- MEDIA QUERIES ----- */
/* ---------------------------------------------------- */

@media only screen and (min-width: 768px) {

	.form {
		width: 50%;
	}

}

@media only screen and (min-width: 1024px) {

	.form {
		width: 25%;
	}

	.button {
		align-self: flex-start;
	}

}